*.ckpt
*.pyc
*.cos
*.npy
*.xsd
*.svg
Dataset/*
Denoiser_CNN/Mark_I/tb_logs/*
Denoiser_CNN/Mark_II/tb_logs/*
Denoiser_CNN/Mark_III/tb_logs/*
Denoiser_CNN/Mark_IV/tb_logs/*
Denoiser_CNN/Mark_V/tb_logs/*
Denoiser_CNN/Mark_VI/tb_logs/*

Denoiser_CNN/results/*
Images/*
Denoiser_CNN/Mark_II/tb_logs/*
Denoiser_CNN/Mark_0/tb_logs/*
MERLIN-master/*
NET/tb_logs/*
*.png
*.tif
*.kml
*.gif
*.jpg
Denoiser_CNN/Mark_0/*
Denoiser_CNN/Mark_I/*
Denoiser_CNN/Mark_II/*
Denoiser_CNN/Mark_III/*
Denoiser_CNN/Mark_IV/*
Denoiser_CNN/Mark_V/*
Denoiser_CNN/Mark_VI/lightning_logs/*

*.JPG
*.XML
*.xml
*.tooldes
*.html
*.log
Docker/*
lightning_logs/*
NET/*
*.zip
*.pdf

SAR_Denoising/*
tb_logs/*
Tesis/ThesisDocument-main/*
training/*
vit-pytorch-main/*
Transformers/*
cos_files/*
Denoiser_CNN/Mark_VI/Echo_ver1.py
Denoiser_CNN/Mark_VI/Echo_ver2.py
Denoiser_CNN/Mark_VI/Echo_ver3.py
Denoiser_CNN/Mark_VI/Echo_ver4.py
Denoiser_CNN/Mark_VI/Echo_ver5.py
Denoiser_CNN/Mark_VI/Echo.py
Denoiser_CNN/Patches_Gen.py
Denoiser_CNN/Patches_Gen_1.py
scripts/*
sar_transformer-main/*
noise2noise-master/*
Animacion/*
ChatGpt/*
Denoiser_CNN/Mark_VI/DCT.py
Denoiser_CNN/Mark_VI/comida.py
Denoiser_CNN/Mark_VI/diag.py
Denoiser_CNN/Mark_VI/diagram_uml.wusd
Denoiser_CNN/Mark_VI/diagram.py
Denoiser_CNN/Mark_VI/fisher_tippett.py
Denoiser_CNN/Mark_VI/proofofconcpet.py
Denoiser_CNN/Mark_VI/ray_tune.py
Denoiser_CNN/Mark_VI/merlines_patches.py
Denoiser_CNN/Mark_VI/MERLINES.py
Denoiser_CNN/Mark_VI/Plot_patches.py
Denoiser_CNN/Mark_VI/simetrization_test.py
Denoiser_CNN/Mark_VI/smoothie.py
Denoiser_CNN/Mark_VI/symetriz_torch.py
Denoiser_CNN/Mark_VI/tensor_diagram
Denoiser_CNN/Mark_VI/Tune_Echo_ver1.py
Denoiser_CNN/Mark_VI/Tune_Echo_ver2.py
Denoiser_CNN/Mark_VI/Tune_Echo.py
Denoiser_CNN/Mark_VI/X_lab.py
Denoiser_CNN/Mark_VI/Mark_IX.py
Denoiser_CNN/Mark_VI/Mark_VI.py
Denoiser_CNN/Mark_VI/Mark_VII.py
Denoiser_CNN/Mark_VI/Mark_VIII.py
00/Histo_noise_slc_004_WilsonVer1_Net_mse_leaky_relu_10_30_0.001-v4.svg
